{% include 'header.html' %}
{% include 'style.html' %}
</head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
    

      <!-- include sidebar-->
      {% include 'sidebar.html' %}


      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          {% include 'topbar.html' %}

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-flex justify-content-center">

             

          </div>        

          <div class="container-fluid bg-light py-3">
            <div class="row">
                <div class="col-md-6 mx-auto">
                        <div class="card card-body-main shadow ">
                            <div class="content" align="center">
                                <div class="text-center">
                                    <h2>User Account</h2>
                                </div> </br>
                                <hr>
                                <br class="contentbar">
                                <h2><b>{{session['username']}}</b></h2> </br>
                                {% block content %}
                                <div class="card">
                                    <table class="table"></br>
                                        <tr>
                                            <td>Username:</td>
                                            <td>{{ account['username'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Password:</td>
                                            <td>{{ account['password'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{ account['email'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Organisasi:</td>
                                            <td>{{ account['organisation'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Alamat:</td>
                                            <td>{{ account['address'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Kota:</td>
                                            <td>{{ account['city'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Negara:</td>
                                            <td>{{ account['state'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Country:</td>
                                            <td>{{ account['country'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>Kode Pos:</td>
                                            <td>{{ account['postalcode'] }}</td>
                                        </tr>
                                    </table>
                                </div>
                                {% endblock %}
                                
                            
                            </div>
                        </div>
                </div>
            </div>
        </div></br>
            
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        {% include 'footer.html' %}

        {% include 'script.html' %}


</body>
</html>