<!--Store this code in 'store.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>store</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<li><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					<li><a href="{{url_for('update')}}">Update</a></li>
					<li><a href="{{url_for('retrieve')}}">Retrieve</a></li>
					<li class="active"><a href="{{url_for('store')}}">Store</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in Store Page!! </h2>					
				</div></br></br>
				<div class="contentbar">
				<h1>Fill Your Documents Information to Store it to the Cabinet</h1></br>
			<form action="{{ url_for('store') }}" method="post" autocomplete="off">
					<div class="msg">{{ msg }}</div>
					<input type="text" name="id_transaksi" placeholder="Enter Your Transaction ID" class="textbox" id="id_transaksi" required></br></br>
					<input type="text" name="id_dokumen" placeholder="Enter Your Document ID" class="textbox" id="id_dokumen" required></br></br>
					<input type="text" name="status_dev1" placeholder="Device 1 Status" class="textbox" id="status_dev1" required></br></br>
					<input type="text" name="status_dev2" placeholder="Device 2 Status" class="textbox" id="status_dev2" required></br></br>
					<input type="text" name="status_dev3" placeholder="Device 3 Status" class="textbox" id="status_dev3" required></br></br>
					<input type="submit" class="btn" value="Store">
			</form>					
				</div>
				
			</div>
		</div>
	</body>
</html>
