<!--Store this code in 'store.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>store</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body bgcolor="#ffffff">
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<li><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					<li><a href="{{url_for('update')}}">Update</a></li>
					<li><a href="{{url_for('search')}}">Search</a></li>
					<li class="active"><a href="{{url_for('store')}}">Store</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You can store your document!! </h2>					
				</div></br></br>
				<div class="contentbar">
				<h1>Fill Documents Data to Store it to the Cabinet</h1></br>
				<form action="{{ url_for('store') }}" method="post" autocomplete="off">
					<div class="msg">{{ msg }}</div>
					<input type="text" name="nama_dokumen" placeholder="Enter Your Document Name" class="textbox" id="nama_dokumen"required></br></br>
					<input type="number" name="device_ke" placeholder="Enter Device Number" class="textbox" id="device_ke"required></br></br>
					<input type="number" name="rak_ke" placeholder="Enter Cabinet Number" class="textbox" id="rak_ke"required></br></br>
					<input type="number" name="baris_ke" placeholder="Enter Row Number" class="textbox" id="baris_ke"required></br></br>
					<input type="number" name="kolom_ke" placeholder="Enter Coloumn Number" class="textbox" id="kolom_ke"required></br></br>
					<input type="submit" class="btn" value="Store">
				</form>					
				</div>
			</div>
		</div>
	</body>
</html>
